<div class="row">
    <div class="col-xs-12" background-image="{{ctrl.img}}">
    </div>
</div>

<div class="row portfolio-buffer">
  <div class="col-xs-10 col-xs-offset-1">

    <div class="row">
      <div class="col-xs-12">
        <div class="card-columns">
          <div class="card" ng-repeat="work in ctrl.portfolio" >

            <img class="card-img img-fluid" ng-src="{{work.photo}}" alt="Work Image">
            <div class="card-img-overlay card-inverse" data-toggle="modal" data-target="#workModal{{$index}}">
              <h4 class="card-title text-xs-center">{{work.name}}</h4>
              <p class="card-text">{{work.desc}}</p>
            </div>

            <div id="workModal{{$index}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="workModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="workModalLabel">{{work.name}}</h4>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="row">
                      <div class="col-xs-2 col-xs-offset-5">
                        <button type="button" class="btn btn-primary-outline" data-dismiss="modal">Close</button>
                      </div>
                      <div class="col-xs-5"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 col-xs-offset-5">
        <button class="btn btn-primary-outline" ui-sref="works.new" type="submit">New</button>
      </div>
      <div class="col-xs-5"></div>
    </div>

  </div>
  <div class="col-xs-1"></div>
</div>
