<div class="row">
    <div class="col-md-12" background-image="{{ctrl.img}}">
    </div>
</div>
<div class="row portfolio-buffer">
    <div class="col-md-12">
      <div class="card-columns">
        <div class="card" ng-repeat="x in ctrl.portfolio">
          <img class="card-img" ng-src="{{x.photo}}" alt="Card image">
          <div class="card-img-overlay card-inverse">
            <h4 class="card-title">{{x.name}}</h4>
            <p class="card-text">{{x.desc}}</p>
          </div>
          <div class="card-footer text-muted">
            {{x.date}}
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12 text-right">
    <button class="btn btn-lg btn-default" ui-sref="works.new" type="submit">Submit</button>
  </div>
</div>
