<div class="row">
    <div class="col-md-12" background-image="{{ctrl.img}}"></div>
</div>
<div class="row">
    <div class="quote">
        <div class="col-md-12">
            <span>"Here at BytePushers, we try to create the uncreatable"</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="title">
        <div class="col-md-12">
            <span>services!</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="title">
        <div class="col-md-12">
            <span>Checkout some of our kick-ass libraries!</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="featured">
        <div class="col-md-4">
            <img src="{{ctrl.img1}}" class="center-block img-responsive">
        </div>
        <div class="col-md-4">
            <img src="{{ctrl.img2}}" class="center-block img-responsive">
        </div>
        <div class="col-md-4">
            <img src="{{ctrl.img3}}" class="center-block img-responsive">
        </div>
    </div>
</div>
<div class="row">
    <div class="title">
        <div class="col-md-12">
            <span>About!</span>
        </div>
    </div>
</div>
