.navbar-default {
    background-color: transparent;
    padding-top: 2em;
    font-size: 2em;
    font-variant: small-caps;
    -webkit-transition: padding-top 1s;
    transition: padding-top 1s;
}
nav.navbar{
    transition: all 0.4s ease;
}

.navbarModified {
    background-color: white;
    opacity: 0.8;
    font-size: 1.75em;
    padding-top: .25em;
    padding-bottom: .15em;
}

.navigation a {
    color: whitesmoke;
    font-family: 'Open Sans Light', sans-serif;
}

.navigation.navbarModified a {
    color:black;
    font-family: 'Open Sans Light', sans-serif;
}

/*tmp*/

.footer {
    font-size: 1.25em;
    font-family: 'Open Sans Light', sans-serif;
    text-align: center;
    padding-top:2em;
    padding-bottom:2em;
    background-color: #191919;
    color:whitesmoke;
}

.footer span {
    font-size: 1.25em;
    font-variant: small-caps;
}

.footer p {
    font-size: .75em;
}

.footer a {
    font-size: 1em;
    font-variant: small-caps;
    color:whitesmoke;
}

.footer a:hover, .footer a:focus {
    font-size: 1em;
    font-variant: small-caps;
    color:whitesmoke;
    text-decoration: none;
}

.footer li {
    list-style-type: none;
}
